*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    front-family:
}


window.addEventListener('click', e=> {
        if(menu.classList.contains('spread') &&e.target !=menu && e.target !=hamburguer) {
            menu.classList.toggle('spread')
        }
    })